<h1><%= @band.name() %></h1>

<form action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input id="update_name" name="update_name" placeholder="Update Band Name">
  <button type="submit" class="btn-sm btn-default">Edit Band</button>
</form>

<br>
<form action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn-sm btn-default">Delete Band</button>
</form>


<a href="/">Back to Bandlist</a>
