<h3>Let's Add Some Tunes!</h3>

<form action='/bands' method="post">
  <input id='band_name' name='band_name' placeholder='Band Name'>
  <button type='submit' class='btn-md btn-success'>Add Band</button>
</form>

<a href="/">Back</a>
