<div class="container" id="error" style="background: url('/../img/steve_perry.jpeg'); background-size: cover;">
  <h2>Hmmm...something's not right. Try again.</h2>
  <h4 id="lyrics">"Don't stop believin', hold onto the feelin'!!"</h4>

  <br>
  <a href="/bands">Back</a>
</div>
