<h1>EpiPalooza</h1>

<h3>BandList 2015</h3>

<% if @bands.any?() %>
  <% @bands.each() do |band| %>
    <p><a href='/bands/<%= band.id() %>'><%= band.name() %><br></a>
      <% if band.venues().any? %>
        <% band.venues().each() do |venue| %>
          <%= venue.name() %> |
        <% end %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <h4 id='lyrics'>"Something touched me deep inside the day the music died." -Don McLean</h4>
<% end %>

<br>
<a href='/bands' role='button' class='btn-sm btn-danger'>Add a Band</a>
<a href='/venues' role='button' class='btn-sm btn-danger'>Add or View a Venue</a>
