<h3>Add a Venue</h3>

<form action='/venues' method="post">
  <input id='venue_name' name='venue_name' placeholder='Venue Name'>
  <button type='submit' class='btn-md btn-success'>Add Venue</button>
</form>


<% if @venues.any?() %>
  <% @venues.each() do |venue| %>
  <p><a href='/venues/<%= venue.id() %>'><%= venue.name() %></a></p>
  <% end %>
<% else %>
  <h4 id="lyrics">"Turn up the lights in here baby, extra bright, I want y'all to see this." -Kanye West</h4>
<% end %>

<a id="venueBack" href="/">Back</a>
